body {
  background-image: url("assets/cute.gif");
  margin: 0px;
  height: 100%;
  font-family: 'Amatic SC', cursive;
}

#whiteBack {
  background-color: white;
  height: 1900px;
  width: 700px;
  justify-content: top;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#header {
  padding: 10px 16px;
  background: rgba(255, 220, 125, 0.868);
  color: white;
  text-align: center;
  font-size: 50px;
  position:sticky;
  top: 0;
  width: 100%;
  z-index: 1;
}


#container {
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

label {
  background-color: #edad6c;
  border: none;
  color: white;
  padding: 10px 0px;
  text-align: center;
  display: inline-block;
  font-size: 30px;
  width: 100%;
}

button {
  background-color: rgba(255, 220, 125, 0.868);
  border: none;
  color: white;
  padding: 10px 0px;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  font-family: 'Amatic SC', cursive;
  width: 20%;
  margin-top: 80px;
}

input{
  appearance: none;
}

input:checked+label {
  background-color:rgba(255, 220, 125, 0.868);
}

#feelingsWrapper{
  justify-content: center;
  width: 250px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  column-gap: 20px;
}
#seasonsWrapper{
  justify-content: center;
  width: 250px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
}
#funWrapper{
  justify-content: center;
  width: 250px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
}
#placesWrapper{
  justify-content: center;
  width: 250px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
}

#feelingsWrapper div{
  width: 40%;
}

#seasonsWrapper div{
  width: 40%;
}

#funWrapper div{
  width: 40%;
}

#placesWrapper div{
  width: 40%;
}

.feelings{
  font-size: 40px;
  margin-bottom: 20px;
}

.question1 {
  font-size: 40px;
}

.question2{
  font-size: 40px;
}

.question3{
  font-size: 40px;
}

.question4{
  font-size: 40px;
}
.feelings{
  font-size: 40px;
}
.seasons{
  margin-bottom: 20px;
  font-size: 40px;
}

.fun{
  font-size: 40px;
}

.places{
  font-size: 40px;
}
button:hover {
  background-color: #edad6c;
  cursor: pointer;
}

/* 
#defaultCanvas0 {
  padding-left: 25%;
} */

.p5Canvas {
  /* padding-left: 20%; */
  z-index: 0;
  position: relative;
  justify-content: bottom;
  display: flex;
  flex-direction: column;
}


.buttonLink{
  background-color: grey;
  color: green;
  padding: 3px 5px 6px 3px;
}

label:hover{
  background-color:rgba(255, 220, 125, 0.868);
}

.hidden{
 display: none;
}
