html,body {
  background-image: url("assets/cute.gif");
  height: 100%;
}

.whiteBack {
  background-color: white;
  height: 2000px;
  width: 700px;
}

.header {
  padding: 10px 16px;
  background: gray;
  color: white;
  text-align: center;
  font-size: 50px;
  position: fixed;
  top: 0;
  width: 100%
}

.container {
  padding: 16px;
}

.interactiveContainer {
  display: flex;
  justify-content: center;
}

button {
  background-color: #6495ED;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 10px;
}

button:hover {
  background-color: #000080;
  cursor: pointer;
}

.question p {
  padding-right: 30px;
  margin-top: 200px;
}

#defaultCanvas0 {
  padding-left: 25%;
}